/* manrope-regular - latin */
/* manrope-200 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 200;
    src: url('./Assets/Fonts/manrope-v15-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* manrope-300 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    src: url('./Assets/Fonts/manrope-v15-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* manrope-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    src: url('./Assets/Fonts/manrope-v15-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* manrope-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    src: url('./Assets/Fonts/manrope-v15-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* manrope-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    src: url('./Assets/Fonts/manrope-v15-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* manrope-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    src: url('./Assets/Fonts/manrope-v15-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* manrope-800 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    src: url('./Assets/Fonts/manrope-v15-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  :root {
    --var1: #3EE9E5;
    --var2: #093F68;
    --var3: #777F98;
    --var4: #FFFFFF;
    --var5: #080C20;
    --var6: #FF2965;
  }

body {
    background-color: var(--var5);
    font-family: "Manrope";
    margin: 0; 
  
}

.logo-maker {
    margin-top: 30px;
    margin-bottom: 60px;
}

header {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.full-bandeau {
    display: grid;
     grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; 
    grid-template-areas: "i1 i2"
                         "ta ta";
}

.left-bandeau {
    grid-area: i1;
}

.right-bandeau {
    grid-area: i2;
}


.left-bandeau,
.right-bandeau {
    width: 100%;
}

.left-bandeau img,
.right-bandeau img {
    width: 100%;
}

.description-text {
    color: var(--var3);
    margin: 10px 20px;
    font-size: .9375rem;
    grid-area: ta;
}

h1 {
    font-size: 2rem;
    line-height: 40px;
    margin: 20px auto;
    color: var(--var4);
}

h1 .line-break {
    display: block;
}

h1 span {
    color: var(--var1);
}

.description-text p {
    font-size: .9375rem;
}



.mouse-icon {
    margin: 20px 0 60px 0;
}

.icon-container {
    color: var(--var3);
    margin: 50px 20px;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
}

h2 {
    color: #FFFFFF;
    font-size: 1.125rem;
    margin-bottom: 0;
    margin-top: 30px;
}

.icon-container p {
    font-size: 15px;
    line-height: 25px;
}

.first-card,
.second-card,
.third-card,
.fourth-card {
    align-items: center;
    text-align: center;
    margin: 30px 0;
}

.payement-container {
    color: var(--var4);
    margin: 0 10px 100px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.payement-description {
    text-align: center;
}

h3 {
    font-size: 1.5rem;
    margin: 27px;
}

.payement-description p {
    color: var(--var3);
    font-size: .9375rem;
    margin: 10px;
}

.offers {
    margin: 0 10px;
}

.free-offer {
    background-color: var(--var2);
    border-radius: 8px;
    padding-left: 40px;
    padding-right: 50px;
    margin-top: 80px;
    padding-bottom: 20px;
    position: relative;
    padding-top: 30px;
}

.free-offer p,
.payant-offer p {
    font-size: .9375rem;
    line-height: 25px;
}

.payant-offer p {
   width: 105%;
}

.free-offer svg {
    position: absolute;
    top: -22px;
}

h4 {
    font-size: 1.125rem;
    
}

.offer-paragraph {
    color: var(--var3);
}

h5 {
    font-size: 2.5rem;
    margin: 10px 0;
}

.advantages {
    font-size: .9375rem;
}
.free-advantages,
.payant-advantages {
    font-size: .9375rem;
    list-style-type: none; 
    padding: 0; 
}

.free-advantages li,
.payant-advantages li {
    position: relative; 
    padding-left: 25px; 
    margin-bottom: 13px;
}

.free-advantages li::before,
.payant-advantages li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%); 
    width: 11px; 
    height: 8px; 
    background-image: url('./Assets/Img/Valid_icon.svg'); 
    background-size: contain; 
    background-repeat: no-repeat;
}

.payant-advantages li::before {
    background-image: url('./Assets/Img/Valid_icon_black.svg'); 
}

.payant-offer {
    background-color: var(--var1);
    color: var(--var5);
    border-radius: 8px;
    padding-left: 40px;
    padding-right: 50px;
    margin-top: 80px;
    padding-bottom: 20px;
    padding-top: 30px;
    position: relative;
}

.payant-offer svg{
    position: absolute;
    top: -35px;
}

.price {
    display: flex;
    align-items: center;
}

.price h5 {
    font-weight: 800;
    margin-right: 10px;
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    
} 

h6 {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--var4);
    padding: 15px 60px;
    margin-top: 20px;
    margin-bottom: 0;
    position: relative;
    background-image: url('./Assets/Img/mobile-signature.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 90%; 
}

form {
    width: 90%;
    display: flex;
    flex-direction: column;
}
#Email {
    background-color: var(--var2);
    border: none;
    border-radius: 100px;
    height: 46px;
    line-height: 3;
    font-size: .9375rem;
    font-weight: 800;
    resize: none;
    margin: 15px 0;
}

#Email::placeholder {
    color: var(--var3);
    font-family: 'Manrope';
    padding-left: 20px;   
}

#Email:focus {
    outline: none;
    border: 2px solid var(--var1);
    padding-left: 20px;
    color: var(--var4);
}

#Email:focus::placeholder {
    color: transparent;
}

form p {
    display: none;
}

form button {
    height: 48px;
    border: none;
    border-radius: 100px;
    background-color: var(--var1);
    font-family: 'Manrope';
    font-weight: 800;
    font-size: .9375rem;
    margin-bottom: 100px;
}

form button:active {
    background-color: var(--var2);
        color: var(--var4);
        cursor: pointer;
        border: 2px solid var(--var1);
}

@media screen and (min-width: 768px) {
    header {
        overflow: hidden;
        text-align: left;  
    }

    .logo-header {
        margin: 10px 0 30px 30px;
    }

    .full-bandeau {
        display: flex;
        flex-direction: row;
        position: relative;
        min-height: 360px;
        width: 100%;   
    }
    
    .left-bandeau img{
        left: -22%;
        width: 44%;
    }

    .right-bandeau img {
        right: -21%;
        width: 44%;
    }

    .left-bandeau img,
    .right-bandeau img {
        position: absolute;
        height: 100%;
    }

    

    .description-text {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 190%;
        margin: 40px 0;
        background-image: url('./Assets/Img/tablet_signature.svg');
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat; 
    }

    .description-text p {
        margin-top: 0;
    }

    h1 .line-break {
        display: none;
    }

    .mouse-icon {
        margin-bottom: 0;
    }

    .icon-container {
           margin-top: 80px;   
    }

    .first-card,
    .second-card,
    .third-card,
    .fourth-card {
        display: flex;
        margin: 20px 0;
    }

    .first-card img,
    .second-card img,
    .third-card img,
    .fourth-card img {
        width: 160px;
        height: 164px;
    }
    .first-card,
    .third-card {
        margin-left: 120px;
        margin-right: 80px;
    }

    .second-card,
    .fourth-card {
        margin-left: 70px;
        margin-right: 180px;
    }

    .first-text,
    .second-text,
    .third-text,
    .fourth-text {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-left: 55px;
    }
    
    

    .first-text p,
    .second-text p,
    .third-text p,
    .fourth-text p {
        margin-top: 11px;
    }
    
    .offers {
        width: 82%;
    }

    .payement-container {
       padding: 0 100px;
    }

    .free-offer {
        padding-right: 20px;
    }
    footer {
        padding: 50px 90px;
        margin-bottom: 50px;
        background-image: url('./Assets/Img/mobile-signature.svg');
        background-size: 100% 80%;
        background-position: center;
        background-repeat: no-repeat;   
    }

    h6 {
        background-image: none
    }
    form {
        display: grid;
        grid-template-columns: 70% 30%;
        align-items: center;
    }
    form button {
        margin-bottom: 0px;
        margin-left: 16px;
    }
}

@media screen and (min-width: 950px) {
    .full-bandeau {
        height: 450px;
    }
}

@media screen and (min-width: 1180px){
    .logo-maker {
        margin: 70px 0 70px 120px;
    }

    .full-bandeau {
        min-height: 460px;
    }

    .description-text {
        margin-left: 80px;
        margin-right: 80px;
        width: 100%;
    }

    .left-bandeau,
    .right-bandeau {
        width: 50%;  
    }

    .left-bandeau img,
    .right-bandeau img {
        width: 25%;
    }

    .left-bandeau img {
        left: 0;
    }

    .right-bandeau img {
        right: 0;
    }
    

    h1 {
        font-size: 3rem;
    }
    
    .icon-container {
        flex-direction: row;
        margin-left: 150px;
        margin-top: 202px;
        margin-bottom: 202px;
       
    }

    .first-card,
    .second-card,
    .third-card,
    .fourth-card {
        flex-direction: column;
        margin: 0;
        align-items: start;
        margin-right: 30px;
        padding-right: 48px;
    }

    .second-card,
    .fourth-card {
        margin-top: 40px;
    }

    .first-text,
    .second-text,
    .third-text,
    .fourth-text {
        margin-left: 0;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h3 {
        font-size: 2rem;
    }

    .payement-container {
        width: 60%;
        justify-content: center;
        
    }

    .payement-description {
        width: 70%;
        margin-bottom: 72px;
    }

    .payement-description p {
        margin: 0 10px;
    }

    .offers {
        display: flex;
        align-items: center;
        width: 100%;

    }

    .free-offer {
        margin-right: 20px;
        height: 90%;
    }

    footer {
        padding: 80px 0;
        background-size: 100% 80%;
        background-position: center;
        background-repeat: no-repeat;
    }

    h6 {
        font-size: 2rem;
    }

    form {
        width: 33%;
    }

    button:hover {
        background-color: var(--var2);
        color: var(--var4);
        cursor: pointer;
        border: 2px solid var(--var1);
    }
}

